cryptography
flask==2.3.3
flask_sqlalchemy
Flask-Login
PyMySQLy
sqlalchemy
python-dotenv==1.0.0
flask_restful
flask_jwt_extended
flask-cors==4.0.0
flask-praetorian
google-generativeai==0.3.2
requests==2.31.0
PyYAML==6.0.1
Werkzeug==2.3.7
asyncio
traceback