{% extends "layout.html" %}
{% block title %}{{proyecto.nombre}}{% endblock %}
{% block content %}
  <div id="proyecto">
    <div id="nombre"><h1>{{proyecto.nombre}}</h1></div>
    <div id="desc"><span>{{proyecto.descripcion}}</span></div>
    <div id="fecha_creacion"><p>{{proyecto.fecha_creacion}}</p></div>
    <div id="fecha_modificacion"><p>{{proyecto.fecha_creacion}}</p></div>
    <p><a href="{{ url_for('proyecto_editar', id=proyecto.id) }}" class="boton">Editar</a> <!-- <a href="{{ url_for('proyecto_eliminar', id=proyecto.id) }}" class="boton">Eliminar</a> --></p>
  </div>
{% endblock %}