{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container mt-5 mb-5">

    <form id="login-form">
        <div id="error-msg" class="text-danger mt-2"></div>

        <div class="form-group mb-3">
            <label for="username">Nombre de usuario</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Ingresa tu nombre de usuario" required>
        </div>
        <div class="form-group mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ingresa tu contraseña" required>
        </div>
        <!-- Recuerdame
        <div class="form-group form-check mb-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Recordarme</label>
        </div>
        -->
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
</div>

<script>
    document.getElementById("login-form").addEventListener("submit", async function (e) {
      e.preventDefault(); // evita el envío clásico del formulario
  
      const username = document.getElementById("username").value;
      const password = document.getElementById("password").value;
  
      try {
        const response = await fetch("http://localhost:5001/login", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ username, password })
        });
  
        const result = await response.json();
        


        if (response.ok && result.success) {
            const token = result.access_token;
        
            sessionStorage.setItem("token", result.access_token);
            sessionStorage.setItem("usuario", JSON.stringify(result.usuario));
            window.location.href = "/perfil";
        } else {
          document.getElementById("error-msg").textContent = result.message || "Credenciales incorrectas.";
        }
      } catch (error) {
        document.getElementById("error-msg").textContent = "Error de conexión con la API.";
      }
    });
  </script>

{% endblock %}