{% extends "layout.html" %}
{% block title %}Perfil{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
{% endblock %}
{% block content %}
<div class="container mt-5" id="perfil-admin">
    <!-- Sección de Proyectos -->
    <div class="mb-5">
        <h1 class="text-center mb-4">Proyectos</h1>
        <div class="text-center mb-3">
            <a href="{{ url_for('proyecto_nuevo') }}" class="btn btn-success">Crear proyecto</a>
        </div>
        <div class="row" id="proyectos-container">
            <!-- Proyectos se inyectarán aquí -->
        </div>
    </div>

    <!-- Sección de Usuarios -->
    <div class="mb-5">
        <h1 class="text-center mb-4">Usuarios</h1>
        <div class="text-center mb-3">
            <a href="{{ url_for('usuario_nuevo') }}" class="btn btn-success">Crear usuario</a>
        </div>
        <div class="row" id="usuarios-container">
            <!-- Usuarios se inyectarán aquí -->
        </div>
    </div>

    <!-- Botón de Cerrar Sesión -->
    <div class="text-center mb-3">
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Cerrar sesión</a>
    </div>
</div>
{% endblock %}
