{% from 'macros.html' import imprimir_lista, imprimir_tabla with context %}
{% extends "layout.html" %}
{% block title %}Editar {{usuario.nombre}}{% endblock %}
{% block content %}
<div id="usuario_nuevo">
  <h1>Editar proyecto {{usuario.nombre}}</h1>
  <form action="{{ url_for('usuario_editar', id=usuario.id) }}" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required value="{{usuario.nombre}}">
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" required value="{{usuario.apellidos}}">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required value="{{usuario.email}}">
    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password">
    <input type="submit" value="Actualizar">
  </form>
</div>
{% endblock %}